.contactContainer{
    width:100%;
    display:flex;
    flex-direction:column;
}
.contactHero{
    width:100%;
    height:80vh;
    background-image: url(./restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts{
    font-size: 80px;
    color:white;
    font-weight: bolder;
}
.reservation{
    font-size: 30px ;
    text-align: center;
    color:black;
}
.contactForm{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
.formContainer{
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left:5%;
}
.smallInput{
    background-color:whitesmoke;
    border: none;
    width:95%;
    height:30px;
    border-radius: 5px;
}
.bigInput{
    background-color:whitesmoke;
    border: none;
    width:95%;
    height:100px;
    border-radius: 5px;
}
.labelText{
    font-size: 20px;
}
.contactSubmit{
    width:150px;
    height:50px;
    border:1.5px solid black;
    border-radius: 5px;
    margin-top:20px;
    background-color: white;
    align-self: center;
    font-size: 20px;
}
.contactSubmit:hover{
    width:130px;
    height:40px;
    border:1.5px solid white;
    background-color: black;
    color:white;
}
.food{
    width:90%;
    margin-left: 5%;
}
.detailsHead{
    font-size: 30px;
    font-weight: medium;
}
.mapContainer{
    width:100%; 
    height:500px;
    display:flex;
    justify-content:center;
    margin-bottom: 50px;
}
.contactDetails{
    width:100%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    margin-top:50px;
    color:black;
}
@media screen and (max-width:426px){
    .mapContainer{
        height:300px;
    }
    .contactDetails{
        display:flex;
        flex-direction:column;
        margin-left: 5%;
        width:90%;
    }
    .contacts{
        font-size: 60px;
    }
}
@media screen and (min-width:768px){
    .food{
        height:300px;
    }
}
@media screen and (min-width:768px){
    .food{
        height:400px;
    }
}